# Logs
logs
*.log
npm-debug.log*

# Node module
node_modules

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Reports
allure-report
allure-results
